<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %> 
</head>
<body>
    <nav>
        <a href="/products/<%= product._id %> ">Back to Products Page</a>
        <h1>Edit Product</h1>
    </nav>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= product.name %> " placeholder="Name"/><br />
        <input type="text" name="img" value="<%= product.img %> " placeholder="Image"/><br />
        <input type="text" name="description" value="<%= product.description %> " placeholder="Description"/><br />
        <input type="text" name="qty" value="<%= product.qty %> " placeholder="Quantity"/> <br />
        <input type="text" name="price" value="<%= product.price %> " placeholder="Price"/><br />
        <input type="submit" value="Update Product" />
    </form>
</body>
</html>