<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %> 
</head>
<body>
    <body>
        <nav>
            <a href="/products/new">Add New Product</a>
            <h1>Store Index Page</h1>
        </nav>
        <ul>
            <% products.forEach(product=> { %>
                <li style="margin-bottom: 15px;">
                    <a href="/products/<%=product._id %>">
                        <%=product.name %>
                        <img src="<%= product.img %> " alt="<%= product.name %> " style="display: block;">
                    </a>
                    
                    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" />
                    </form>
                    <a href="/products/<%=product._id %>/edit">Edit</a>
                </li>
                <% }) %>
        </ul>
    </body>
</body>
</html>